{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/beers.css" type="text/css"/>
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
    <meta name="twitter:title" content="{{ SITENAME }} ~ {{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }} ~ {{ article.title|striptags }}"/>
    <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
    <section id="content">
        <article>
            <h2 class="post_title post_detail"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                                  title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            <div class="entry-content blog-post">
                {{ article.content }}
            </div>
            <div>
                <span>By </span>
                <a href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a>
                <span> in </span>
                <span class="post_category"><a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark"
                                               title="Permalink to {{ article.category|striptags }}">[ {{ article.category }} ]</a></span>
                <span class="post_date">{{ article.locale_date }}</span>
                {% if article.tags %}
                <div><span>Tags : </span>
                  {% for tag in article.tags %}
                    <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}, </a></span>
                  {% endfor %}
                </div>
                {% endif %}
            </div>

            {% if DISQUS_SITENAME %}
                <div class="comments">
                    <h2>Comments !</h2>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_identifier = "{{ article.url }}";
                        (function () {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] ||
                            document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                </div>
            {% endif %}
        </article>
    </section>
{% endblock %}
