{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:url" content="{{ SITEURL }}">
<meta name="twitter:title" content="{{ SITENAME }}">
<meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

<!-- Facebook Meta Data -->
<meta property="og:title" content="{{ SITENAME }}"/>
<meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
<meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}

{% if articles %}
{% block heading %}<h2 class="latest">Latest articles</h2>{% endblock %}
<ol class="posts">
  {% for article in (articles_page.object_list if articles_page else articles) %}
  <li class="post_list">
    <div class="post_header">
      <h2>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          <img class="post_picture" src="{{ SITEURL }}/{{ article.cover_image }}">
          {{ article.title }}
        </a>
      </h2>
    </div>
    <div class="post_body">
      {% if DISPLAY_SUMMARY and article.summary|length > 0 %}
      <p>{{ article.summary }}</p>
      {% endif %}
    </div>
    <div class="post_footer">
      <a href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a>
      <span> dans </span>
      <span class="post_category">
        <a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark" title="Permalink to {{ article.category|striptags }}">{{ article.category }}</a>
      </span>
      <span class="post_date">{{ article.locale_date }}</span>
    </div>
  </li>
  {% endfor %}
</ol>
{% endif %}

{% if articles_page and articles_paginator.num_pages > 1 %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}
