.h-recipe {
  margin: auto;
}
.p-name {
  margin-bottom: .5pt;
}
.p-author {
  font-style: italic;
  font-size: 12pt;
  display: block;
  margin-bottom: 3pt;
}
.info-ctn {
  display: flex;
}
.info-ctn ol {
  list-style: none;
}
.label {
  max-height: 200pt;
  width: auto;
}
.header {
  font-size: 1.5em;
  font-weight: bold;
}
.p-ingredient {
  max-width: 70%;
  list-style: none;
  line-height: 20pt;
  padding-right: 1em;
}
.s-temp, .s-amount {
  width: 3em;
  float: right;
}
