@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

html {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  color: #222;
  background: #fafafa;
}
h1, h2 {
  font-size: 2em;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
body {
  margin: 0
}
body > article, footer {
  line-height: 1.6em;
  display: block;
  max-width: 80%;
  margin: 40px auto auto 355px;
  padding: 20px 80px 10px;
}
img {
  max-width: 100%;
}
article section .about {
  font-size: 18px;
  color: #444;
  text-align: justify;
}
article section .blog-post {
  font-size: 16px;
}
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #1DAEDF;
  border-radius: 5px 5px;
}
a, a:visited, a:link, a:active{
  color: #1DAEDF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
aside {
  font-size: 14px;
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 30px;
  background-color: #2f2f2f;
  color: white;
  box-shadow: 0 0 3px black;
  text-align: center;
  padding-top: 8%;
  background-size: cover;
}
aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}
aside > h2 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}
.title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #1DAEDF;
  line-height: 1;
  font-weight: 600;
}
.latest {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}
.post_detail {
  font-size: 2em;
  line-height: 1em;
}
.entry-content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  color: #333;
}
.posts {
  padding-left: 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}
.article_left > h1 {
  font-size: 20px;
}
.article_right {
  background-color: white;
}
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  display: grid;
  grid-template-rows: auto 1fr 7em;
  grid-template-columns: 100%;
  border-radius: 5px 5px;
  border-top: 2px solid #1DAEDF;
  box-shadow: 0 8px 6px -3px #333;
}
.post_header {
  text-align: center;
}
.post_header a {
  color: #333;
}
.post_header a:hover {
  color: #1DAEDF;
  text-decoration: none;
}
.post_footer {
  height: 1em;
  margin: 1em .5em;
}
.post_picture {
  height: 150pt;
  width: auto;
  display: block;
  margin: .5em auto;
}
.highlight pre {
  font-size: 14px;
  overflow: auto;
  padding: 8px;
}
.social {
  display: inline-block;
  margin-top: 40px;
}
.nav {
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 40px;
}
.nav > ul > li {
  font-size: 15px;
  border-bottom: 1px solid #bfbfbf;
}
.nav > ul > li:first-child {
  border-top: 1px solid #bfbfbf;
}
.nav a {
  color: white;
  text-decoration: none;
  transition: all .3s linear;
  font-weight: bold;
}
.nav a:hover {
  background-color: #1DAEDF;
  color: black;
}
.list-bare {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__link {
  display: block;
  padding: 0.77273rem 0;
}
.blog_roll_link {
  display: block;
  padding: 0.33147rem 0;
}
#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px white;
  transition: 200ms;
}
#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}
@media (max-width: 800px) {

  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-top: 1px;
  }
  .nav {
    margin-left: 0;
    margin-right: 0;
  }
  body > article {
    margin: 0 auto;
    padding-top: 5px;
    padding: 1em;
  }
  footer {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }
  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
}
